___

<a href='https://www.eeoc.gov/data/job-patterns-minorities-and-women-private-industry-eeo-1-0'><img src='eeoc_logo.png'/></a>
___

<center><em>ISDS 577 Capstone Project</em></center>
<center><em>For more information, visit <a href='https://www.eeoc.gov/data/job-patterns-minorities-and-women-private-industry-eeo-1-0'>www.eeoc.gov</a></em></center>

# EEO Dataset Inspection

About this dataset:



    Format
    
    - 949346 rows and 10 columns containing categorical, discrete, and continuous variables.


    Details
    
    - All records have complete data; meaning each record has values for each variable.
    - There are 10 different jobs. The titles are ambiguous and allude to a wide range of positions/salaries.
    - There are many states in the US that have the same 'County' name (ex: Orange County in NY, FL, CA...). 
   
    
    Changes
    
    Moving Forward
    

    Source
    
    - https://www.eeoc.gov/data/job-patterns-minorities-and-women-private-industry-eeo-1-0

## Imports

In [1]:
import numpy as np
import pandas as pd

## CSV

In [2]:
eeo = pd.read_csv('../EEOC_V3.csv', low_memory=False)

## Obtaining Basic Information About EEO

In [3]:
eeo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949346 entries, 0 to 949345
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                949346 non-null  int64
 1   County              949346 non-null  object
 2   State               949346 non-null  object
 3   Region              949346 non-null  object
 4   Division            949346 non-null  object
 5   Race                949346 non-null  object
 6   Gender              949346 non-null  object
 7   Industry            949346 non-null  object
 8   Job                 949346 non-null  object
 9   Number of Employee  949346 non-null  int64
dtypes: int64(2), object(8)
memory usage: 72.4+ MB

In [4]:
eeo

,Year,County,State,Region,Division,Race,Gender,Industry,Job,Number of Employee
0,2021,Yakima,Washington,West,Pacific,White,Male,Health Care and Social Assistance,Service,118
1,2021,Arapahoe,Colorado,West,Mountain,TwoormoreRaces,Female,Administrative and Support and Waste Managemen...,Craft,3
2,2021,Hamilton,Ohio,Midwest,East North Central,TwoormoreRaces,Female,Health Care and Social Assistance,Craft,9
3,2021,Kent,Michigan,Midwest,East North Central,TwoormoreRaces,Female,Manufacturing,Craft,6
4,2021,Wayne,Michigan,Midwest,East North Central,TwoormoreRaces,Female,Manufacturing,Craft,3
...,...,...,...,...,...,...,...,...,...,...
949341,2016,St. Joseph,Indiana,Midwest,East North Central,White,Male,Finance and Insurance,MidOffandManagers,76
949342,2016,St. Joseph,Indiana,Midwest,East North Central,White,Male,Accommodation and Food Services,MidOffandManagers,71
949343,2016,St. Joseph,Indiana,Midwest,East North Central,White,Male,Other Services (except Public Administration),MidOffandManagers,40
949344,2016,Vigo,Indiana,Midwest,East North Central,White,Male,Manufacturing,MidOffandManagers,144
949345,2016,San Luis Obispo,California,West,Pacific,Hispanic,Male,Health Care and Social Assistance,MidOffandManagers,12

## Data entries for each column (%)

Comments:

- All of the records have complete data from each column.
- Previous dataset had 'Not Reported'; there are none here.

In [5]:
perc_complete = round((eeo.notnull().sum() / len(eeo)), 3)
perc_complete.sort_values(ascending=False)

Year                  1.0
County                1.0
State                 1.0
Region                1.0
Division              1.0
Race                  1.0
Gender                1.0
Industry              1.0
Job                   1.0
Number of Employee    1.0
dtype: float64

**Create function to check whether or not a Series contains any 'Not Reported' values.**

In [6]:
def non_report_check(x):
    '''Checks for a 'Not Reported' value.'''
    if x == 'Not Reported':
        return True
    else:
        return False

In [7]:
eeo.applymap(non_report_check).sum().sort_values(ascending=False)
# Race, Sex, and Job all have 30767 records containing 'Not Reported'

Year                  0
County                0
State                 0
Region                0
Division              0
Race                  0
Gender                0
Industry              0
Job                   0
Number of Employee    0
dtype: int64

## Inspecting each column 
We want to insure that the data accurately depicts US standards and contains enough information to proceed with our analyses.

#### Year

In [8]:
eeo

,Year,County,State,Region,Division,Race,Gender,Industry,Job,Number of Employee
0,2021,Yakima,Washington,West,Pacific,White,Male,Health Care and Social Assistance,Service,118
1,2021,Arapahoe,Colorado,West,Mountain,TwoormoreRaces,Female,Administrative and Support and Waste Managemen...,Craft,3
2,2021,Hamilton,Ohio,Midwest,East North Central,TwoormoreRaces,Female,Health Care and Social Assistance,Craft,9
3,2021,Kent,Michigan,Midwest,East North Central,TwoormoreRaces,Female,Manufacturing,Craft,6
4,2021,Wayne,Michigan,Midwest,East North Central,TwoormoreRaces,Female,Manufacturing,Craft,3
...,...,...,...,...,...,...,...,...,...,...
949341,2016,St. Joseph,Indiana,Midwest,East North Central,White,Male,Finance and Insurance,MidOffandManagers,76
949342,2016,St. Joseph,Indiana,Midwest,East North Central,White,Male,Accommodation and Food Services,MidOffandManagers,71
949343,2016,St. Joseph,Indiana,Midwest,East North Central,White,Male,Other Services (except Public Administration),MidOffandManagers,40
949344,2016,Vigo,Indiana,Midwest,East North Central,White,Male,Manufacturing,MidOffandManagers,144
949345,2016,San Luis Obispo,California,West,Pacific,Hispanic,Male,Health Care and Social Assistance,MidOffandManagers,12

In [9]:
eeo['Year'].value_counts()
# Data contains records from 2016 to 2021
# 2021 has the most records with a significant margin between 2021 and 2020. Did more companies choose to report post-COVID?

Year
2021    220338
2019    163172
2020    155782
2016    150980
2018    131338
2017    127736
Name: count, dtype: int64

#### Region, Division, State, County, and Region
Comments:
- 'Region' is inaccurate according to the 5 offical regions reported by the US Census Bureau. The Southwest and the Southeast are combined into the South.
- The South region has the most data (perhaps because it's two regions combined) with a significant margin. The Northeast and Midwest regions have the least.
- The South Atlantic division has the most reports followed by the Pacific division.
- 'State' has 51 values and includes Disctrict of Columbia.
- CA has the most records with 144,009. Big enough to perform statistical analysis on this state alone.
- 'Counties' represents 38.13% of the counties in the United States.
- Orange County has the most records in the US. There are multiple counties in the US named 'Orange County'.

#### Region

In [10]:
eeo['Region'].value_counts()
# This dataset has regions different from the ones listed by the US Census Bureau. Something to address with the group.

# There are 5 regions in the United States: the Northeast, the Midwest, the West, the Southwest, and the Southeast.
# https://en.wikipedia.org/wiki/List_of_regions_of_the_United_States

Region
South        355474
West         225218
Midwest      190376
Northeast    178278
Name: count, dtype: int64

#### Division

In [11]:
eeo['Division'].value_counts()
# There are 9 divisions in the United States. Column is accurate.
# South Atlantic has the most reports followed by the Pacific.

Division
South Atlantic        213524
Pacific               166794
Middle Atlantic       143276
East North Central    136956
West South Central     98598
Mountain               58424
West North Central     53420
East South Central     43352
New England            35002
Name: count, dtype: int64

#### State

In [12]:
eeo['State'].nunique()

51

In [13]:
eeo['State'].value_counts()

# Disctrict of Columbia is included.
# California has the most records.

State
California              124302
Texas                    76056
Florida                  63760
New Jersey               52122
New York                 49214
Georgia                  44504
Pennsylvania             41940
Virginia                 36578
Ohio                     33962
North Carolina           32964
Michigan                 30202
Illinois                 28802
Colorado                 27946
Indiana                  23690
Washington               23268
Wisconsin                20300
Tennessee                19690
Maryland                 18348
Minnesota                18072
Massachusetts            17996
Missouri                 17280
Oregon                   14194
South Carolina           12682
Alabama                  11542
Louisiana                10242
Connecticut               8876
Nevada                    8370
Arizona                   7742
Kentucky                  7690
Oklahoma                  7420
Kansas                    7274
Iowa                      5806
Utah                      4998
Arkansas                  4880
New Mexico                4684
Mississippi               4430
Hawaii                    4198
Rhode Island              3578
Nebraska                  3408
District of Columbia      2858
New Hampshire             2780
Idaho                     2594
Maine                     1458
Montana                   1394
Delaware                  1004
South Dakota               958
Alaska                     832
West Virginia              826
Wyoming                    696
North Dakota               622
Vermont                    314
Name: count, dtype: int64

In [14]:
# What % of all the records will be used if we don't include District of Columbia in our research?

# Dropping District of Columbia will have no siginifant effect on our research.
round((eeo['State'].count() - len(eeo[eeo['State'] == 'District of Columbia'])) / len(eeo), 4)

0.997

#### County

Comments: 

- There are many counties with the same name in several states. 
- Consider attaching zip codes to create unique identifiers (will be used to merge salary data) or by unique geolocation combination (explore further).

In [15]:
eeo['County'].nunique()
# There are 3244 counties in the US: https://en.wikipedia.org/wiki/List_of_United_States_counties_and_county_equivalents

1237

In [16]:
eeo['County'].value_counts().head(15)
# Is there a correlation between the wealth of county and number of records reported?

County
Orange          17774
Montgomery      14368
Jefferson       11068
Middlesex       10394
San Diego        9928
Los Angeles      9436
Dallas           9286
Suffolk          8344
Harris           7840
Wayne            7760
Marion           7536
Hillsborough     7422
Tarrant          7272
Washington       7222
Lake             7112
Name: count, dtype: int64

#### County can appear more than once.

Comments:

- County and State are 1:M.
- Orange County is used as an example.

In [17]:
counties = eeo.copy()
orange_county = counties.set_index('County').loc['Orange']
orange_county = orange_county.reset_index()

In [18]:
orange_county[['County', 'State']].value_counts()
# Orange County appears in multiple states.

County  State
Orange  California        9408
        Florida           6148
        New York          1748
        North Carolina     382
        Texas               50
        Virginia            32
        Indiana              6
Name: count, dtype: int64

#### Sector 

Comments:

- Manufacturing and Retail Trade have the most records, followed by Health Care. Public Admin has the least (outlier).

In [19]:
eeo['Industry'].value_counts()

Industry
Manufacturing                                                               215072
Retail Trade                                                                159684
Health Care and Social Assistance                                           132180
Administrative and Support and Waste Management and Remediation Services     56286
Warehousing                                                                  51458
Professional, Scientific, and Technical Services                             49228
Accommodation and Food Services                                              44954
Wholesale Trade                                                              40630
Finance and Insurance                                                        36638
Information                                                                  32428
Other Services (except Public Administration)                                25734
Construction                                                                 22574
Management of Companies and Enterprises                                      22002
Arts, Entertainment, and Recreation                                          20730
Real Estate and Rental and Leasing                                           15328
Educational Services                                                         14584
Utilities                                                                     5090
Mining, Quarrying, and Oil and Gas Extraction                                 2498
Agriculture, Forestry, Fishing and Hunting                                    2132
Public Administration                                                          116
Name: count, dtype: int64

#### Race, Sex, and Job 

Comments:
- **Native Indians and Pacific Islander** records are noticeably small; clear outliers here.
- Gender has equal records.

#### Race

In [20]:
eeo['Race'].value_counts()

Race
White                                   271356
Hispanic                                224316
BlackorAfricanAmerican                  217722
Asian                                   121252
TwoormoreRaces                           86922
AmericanIndianorAlaskaNative             14208
NativeHawaiianorOtherPacificIslander     13570
Name: count, dtype: int64

#### Sex

In [21]:
eeo['Gender'].value_counts()

Gender
Male      474673
Female    474673
Name: count, dtype: int64

#### Job

In [22]:
eeo['Job'].value_counts()
# Jobs is ambiguous and alludes to a wide range of positions/salaries. 
# How accurate can our data be in analyzing wage disparities if we use salaries that don't accurately depict workers?

Job
Professionals           163052
Clericals               148064
MidOffandManagers       140466
Operatives              119286
Labors                  114816
Service                  90052
Technicians              74138
SalesWorkers             67448
Craft                    22588
SeniorOffandManagers      9436
Name: count, dtype: int64

#### Sex and Job

Comments: Evenly distributed among genders.

In [23]:
# Distribution between males and females for every Job
eeo[['Job', 'Gender']].value_counts()

Job                   Gender
Professionals         Female    81526
                      Male      81526
Clericals             Male      74032
                      Female    74032
MidOffandManagers     Female    70233
                      Male      70233
Operatives            Female    59643
                      Male      59643
Labors                Female    57408
                      Male      57408
Service               Female    45026
                      Male      45026
Technicians           Female    37069
                      Male      37069
SalesWorkers          Female    33724
                      Male      33724
Craft                 Male      11294
                      Female    11294
SeniorOffandManagers  Female     4718
                      Male       4718
Name: count, dtype: int64

#### Number of Employee

Comments:

- Refers to the number of employees that fill a demographic (ex: 7 employees are Professionals, Black, Female, CA...)
- We can't make inferences on the # employees yet since we don't have unique identifiers.

In [24]:
round((eeo['Number of Employee'].describe()), 2)

# Does not really tell us much since the same location can contain multiple Employee Number records (for this dataset).

count    949346.00
mean        173.20
std         706.46
min           3.00
25%          11.00
50%          32.00
75%         106.00
max       48286.00
Name: Number of Employee, dtype: float64