___

<a href='https://www.eeoc.gov/data/job-patterns-minorities-and-women-private-industry-eeo-1-0'><img src='eeoc_logo.png'/></a>
___

<center><em>ISDS 577 Capstone Project</em></center>
<center><em>For more information, visit <a href='https://www.eeoc.gov/data/job-patterns-minorities-and-women-private-industry-eeo-1-0'>www.eeoc.gov</a></em></center>

# EEO and Counties Merge

About this notebook:

- Adding county codes to the EEOC dataset by merging it with a df containing county codes.

## Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## CSV

In [2]:
eeo = pd.read_csv('EEOC_V3.csv', low_memory=False)

## Adding FIPS into the dataset

To do this, I will have to merge an existing dataset that contains FIPS, county, and state fields.
I will be importing and merging a dataset containing per capita income data for each county in the US.

In [3]:
county_df = pd.read_csv("US counties - education vs per capita personal income.csv", low_memory=False)

We only want county information so we will subset fips and county

In [4]:
fips = county_df[['county_FIPS', 'county']].copy()
fips.head()

   county_FIPS          county
0        51013   Arlington, VA
1        35028  Los Alamos, NM
2         8013     Boulder, CO
3        24027      Howard, MD
4        36061    New York, NY

### Now we can proceed with merging fips to eeo

In [5]:
# Create a copy of eeo to test 
# we want to merge by county + state

temp = eeo.copy()

In [6]:
states = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
temp['State'] = temp['State'].replace(states)

In [7]:
# merge county and state together to match fips dataset

eeoc['county_state'] = eeoc[['County', 'State']].apply(lambda x: x[0] + ", " + x[1], axis =1)

In [8]:
# creating a fips dict to replace county_state values in eeo temp
fips_dict = fips.set_index('county')['county_FIPS'].to_dict()

In [10]:
eeoc['county_state'] = eeoc['county_state'].replace(fips_dict)

In [ ]:
temp.columns.tolist()

In [12]:
cols = ['Year',
'county_state',
 'County',
 'State',
 'Region',
 'Division',
 'Race',
 'Gender',
 'Industry',
 'Job',
 'Number of Employee',
]

temp = temp[cols]
temp = temp.rename(columns = {'county_state':'county_FIPS'})

In [13]:
eeoc.head()

,Year,county_FIPS,County,State,Region,Division,Race,Gender,Industry,Job,Number of Employee
0,2021,53077,Yakima,WA,West,Pacific,White,Male,Health Care and Social Assistance,Service,118
1,2021,8005,Arapahoe,CO,West,Mountain,TwoormoreRaces,Female,Administrative and Support and Waste Managemen...,Craft,3
2,2021,39061,Hamilton,OH,Midwest,East North Central,TwoormoreRaces,Female,Health Care and Social Assistance,Craft,9
3,2021,26081,Kent,MI,Midwest,East North Central,TwoormoreRaces,Female,Manufacturing,Craft,6
4,2021,26163,Wayne,MI,Midwest,East North Central,TwoormoreRaces,Female,Manufacturing,Craft,3

In [ ]:
us_counties = temp[['county_FIPS', 'County', 'State', 'Region', 'Division']]
us_counties.head()

### Export File to CSV

In [ ]:
#temp.to_csv('EEO_fips.csv', index=False)
#us_counties.to_csv('EEOC_counties.csv', index=False)